html,
body {
  overflow-x: hidden;
  width: 100%;
}
.container-menus {
  transform: translateX(0);
  transition: transform 300ms ease;
  width: 200%;
}
.container-menus .menu {
  float: left;
  width: 50%;
}
#opcao-bebidas:checked ~ .container-menus {
  transform: translateX(-50%);
}
